// ENGLAND FONT FAMILY
@font-face {
    font-family: 'England';
    src: url('/fonts/england-webfont.woff2') format('woff2'),
         url('/fonts/england-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// MOON FONT FAMILY
@font-face {
    font-family: 'Moon';
    src: url('/fonts/moon_bold-webfont.woff2') format('woff2'),
         url('/fonts/moon_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Moon';
    src: url('/fonts/moon_light-webfont.woff2') format('woff2'),
         url('/fonts/moon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// MULI FONT FAMILY
@font-face {
    font-family: 'Muli';
    src: url('/fonts/muli-regular-webfont.woff2') format('woff2'),
         url('/fonts/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Muli';
    src: url('/fonts/muli-bold-webfont.woff2') format('woff2'),
         url('/fonts/muli-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Muli';
    src: url('/fonts/muli-italic-webfont.woff2') format('woff2'),
         url('/fonts/muli-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Muli';
    src: url('/fonts/muli-light-webfont.woff2') format('woff2'),
         url('/fonts/muli-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('/fonts/muli-semibold-webfont.woff2') format('woff2'),
         url('/fonts/muli-semibold-webfont.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}