input[type="text"],
input[type="textarea"],
input[type="number"],
input[type="email"],
textarea.form-control,
textarea {
border-top: 0;
border-left: 0;
border-right: 0;

&:focus {
    outline: 0;
    box-shadow: none;
    border-bottom-width: 5px;
}
}